.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.post-card {
    border-radius: 12px;
    margin: .5rem 1rem;
    height: 280px;
    width: 310px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #8687c7;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.post-card h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.post-card p {
    font-size: 1rem;
    margin-bottom: .5rem;
    color: whitesmoke;
}

.post-card span {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1.5rem 1.2rem 0;
    cursor: pointer;
    transition: all 0.4s;
    color: #51516e;
    background-color: #cbcaff;
    padding: .4rem .5rem;
    border-radius: 12px;
}

.post-card span:hover {
    transform: translateX(5px);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.pagination button {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 .2rem;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #8687c7;
}

.pagination button:disabled {
    background-color: #8687c767;
    cursor: not-allowed;
}

.post-skeleton {
    border-radius: 12px;
    margin: .5rem 1rem;
    height: 280px;
    width: 310px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #8687c7;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
