.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.navbar span {
    color: #8687c7;
}

.pages {
    display: flex;
    align-items: center;
}

.pages a {
    text-decoration: none;
    color: #ffffff;
    background-color: #8687c7;
    padding: .3rem .6rem;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 .5rem;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.pages a:hover {
    background-color: #9d9dde;
}